# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing

# production

# misc
.env

# Ignorar todos los archivos dentro de la carpeta
/public/birthday-cards/*

# ¡Excepto el archivo .gitkeep si deseas mantener la carpeta vacía!
!/public/birthday-cards/.gitkeep