# .htaccess

RewriteEngine On

AddHandler application/x-httpd-php .php

# Reescribe las URL para que apunten a index.php sin necesidad de poner .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php/$1 [QSA,L]

SetEnv DB_SERVER localhost
SetEnv DB_USERNAME sa
SetEnv DB_PASSWORD Kingdiamond2025*
SetEnv ENCRIPT_PASSWORD_KEY oc7yqqXqiaNOqFAMhRUbPo3dGqDI8wIB
SetEnv NOREPLY_MAIL_PASSWORD Reply.2025%
