# .htaccess

RewriteEngine On

AddHandler application/x-httpd-php .php

# Reescribe las URL para que apunten a index.php sin necesidad de poner .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php/$1 [QSA,L]

SetEnv DB_SERVER aorokag8pb.database.windows.net,1433
SetEnv DB_USERNAME traacedb
SetEnv DB_PASSWORD Traace2014
SetEnv APP_SECRET_KEY oc7yqqXqiaNOqFAMhRUbPo3dGqDI8wIB
