<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f8fafc; border-radius: 12px; padding: 0px; width: auto; display: inline-block; margin-right: 10px; max-width: 180px;">
    <tr>
        <td style="padding: 20px 10px;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td align="center">
                <img src="[[PROFILE_PICTURE]]" alt="[[NAME]]" style="width: 80px; height: 80px; border-radius: 100%;" width="80" height="80" />
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                <h3 style="color: #0F2746; margin: 0; font-size: 13px; text-transform: uppercase;">[[NAME]]</h3>
                <p style="color: #64748b; margin: 0; font-size: 13px; text-transform: uppercase;">[[JOB_POSITION]]</p>
                <!-- <p style="color: #64748b; margin: 0; font-size: 13px;">[[OFFICE_NAME]]</p> -->
                </td>
            </tr>
            <tr>
                <td align="center" style="padding: 10px 0px;">
                    <div style="width: fit-content; text-align:center; background-color: #D5D5D5; color: #0F2746; border-radius: 20px; padding: 8px 16px; font-size: 13px; font-weight: 600;">&nbsp;&nbsp;🎖️ [[ANNIVERSARY]]&nbsp;&nbsp;<br>&nbsp;&nbsp;([[DATE]])&nbsp;&nbsp;</div>
                </td>
            </tr>
            </table>
        </td>
    </tr>
</table>